<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-default">
        <div class="card-header  justify-content-between">
          <h1>Création d'un rôle</h1>
          <br>
        </div>
        <div class="form-footer pt-5 border-top">
          <div class="card-body">
            <!-- Formulaire de création d'utilisateur -->
            <form [formGroup]="formulaireForm">
              <h2>Nouveau Rôle </h2>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="fname">Rôle</label>
                    <input class="form-control" type="text" formControlName="role" placeholder="Rôle"
                      [ngClass]="{ 'is-invalid': submitted && f.role.errors }"> <!-- Gestion d'erreur -->
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback"> <!-- Gestion d'erreur -->
                      <!-- Gestion d'erreur -->
                      <div *ngIf="f.role.errors.required || f.role.errors.pattern || f.role.errors.maxlength">Rôle 
                        requis (50 caractères maximum) / contient des caractères non autorisés
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lname">Coût :</label>
                    <input class="form-control" type="number"  onkeydown="return (event.keyCode !== 69) &&(event.keyCode !== 109)&&(event.keyCode !== 54) " formControlName="cout" placeholder="Coût"
                      [ngClass]="{ 'is-invalid': submitted && f.cout.errors }">
                    <div *ngIf="submitted && f.cout.errors" class="invalid-feedback">
                      <div *ngIf="f.cout.errors.required || f.cout.errors.pattern || f.cout.errors.maxlength">Coût requis (50
                        caractères maximum) / contient des caractères non autorisés</div>
                    </div>
                  </div>
                </div>
                <!-- </div> -->
                <br />

              </div>
              <div class="form-footer pt-5 border-top">
                <button type="button" class="btn btn-primary btn-default" data-toggle="modal"
                  data-target="#exampleModal">Créer le rôle</button>
                <!-- Modal (comme un popup) -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header modal-header-danger">
                        <h5 class="modal-title" id="exampleModalLabel">Création d'un rôle
                          !</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Attention, vous allez créer un rôle !
                        Confirmez-vous la création de cet rôle ?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" (click)="valider()" class="btn btn-primary"
                          data-dismiss="modal">Confirmer</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button style="margin-left: 5%;" (click)="retour()" type="submit"
                  class="btn btn-primary btn-default">Retour</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>